/* Button-outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;
    
    padding: 12px 20px;
    height: 48px;
    
    border-radius: 5px; 
    border: 1px solid var(--pureblack);
    background-color: var(--white);
    color: var(--pureblack); 
    
    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 2px;
}